/* Global */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
}

/* Call Us Banner */
#call_us_banner {
  background-color: #355644
}

#call_us_text {
  color: #fff;
  font-weight: bold;
  padding: 3px;
}

/* Hero Image */
#hero_image {
  background-image: url(/assets/images/placeholder.jpg);
  height: 91vh;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* padding-top: 80px; */
}

/* Main Footer */
#main_footer {
  background-color: #bba14f;
  color: #fff;
  padding: 10px;
}

.card_icon {
  color: #fff;
  font-size: 28px;
}

/* Sub Footer */
#sub_footer {
  background-color: #355644;
  color: #fff;
  padding: 10px;
}

.portfolio_link {
  color: #bba14f;
}

.portfolio_link:hover {
  color: #fff;
}